.tecnologias {
    height: 60px;
    max-width: 80vw;
    margin-inline: auto;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    margin-bottom: 13px;
    padding-block: 3px;
}

.scroller__inner {
    height: 100%;
    width: max-content;
    animation: scrollInfinito 20s linear infinite;
    display: flex;
    flex-direction: row;
    /* opacity: 0.99; */
}

.scroller__inner:hover {
    animation-play-state: paused;
}

.tecnologias .scroller__inner .scroller__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 8px;
    width: 50px;
}

.tecnologias .scroller__inner .scroller__item figcaption {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.tecnologias .scroller__inner .scroller__item img {
    width: auto;
    height: 68%;
} 

@keyframes scrollInfinito {
    100% {
        transform: translate(-50%);
    }
}