.linebottom {
    width: 100%;
    height: 8px;
    background: linear-gradient(84deg,rgba(226, 178, 238, 1) 0%, rgba(248, 238, 249, 1) 14%, rgba(246, 216, 240, 1) 29%, rgba(243, 193, 230, 1) 42%, rgba(193, 111, 220, 1) 69%, rgba(233, 171, 218, 1) 100%);
}

.secaoprojetos {
    background-color: #ebebf5;
    padding-block: 60px;
}

.secaoprojetos article {
    width: 900px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.secaoprojetos h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: 800;
    color: #e06da4;
}

.secaoprojetos .descricao {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-block: 40px;
}

.container_card_projetos {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.secaoprojetos .secaoprojetosbtn {
    font-family: "Montserrat", sans-serif;
    padding: 10px 30px;
    background-color: #47444d;
    border: 5px solid #54f5d8;
    border-radius: 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
}