.header {
    background-image: linear-gradient(87deg,rgba(247, 131, 154, 1) 0%, rgba(190, 70, 144, 1) 39%, rgba(245, 124, 143, 1) 68%, rgba(252, 163, 165, 1) 93%, rgba(252, 163, 165, 1) 100%);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 40px;
}

.menu a {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 680;
    color: #fdfafb;
}
.linebottom {
    width: 100%;
    height: 8px;
    background-image: linear-gradient(87deg,rgba(240, 191, 221, 1) 0%, rgba(185, 98, 206, 1) 39%, rgba(237, 173, 202, 1) 68%, rgba(253, 249, 250, 1) 93%, rgba(253, 249, 250, 1) 100%);
}

