.footer {
    background-color: #252525;
    color: #fff;
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    font-family: "Montserrat", sans-serif;
}

.footer a, .footer p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 2px;
}

.footer .linkspan {
    font-weight: 500;
}

.containerlinks {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-bottom: 9px;
}

.linebottom {
    width: 100%;
    height: 4px;
    background-image: linear-gradient(84deg,rgba(196, 112, 212, 1) 0%, rgba(205, 117, 222, 1) 34%, rgba(246, 236, 248, 1) 67%, rgba(231, 167, 223, 1) 100%);
}